*{
  /* font-size: 18px */
}
.navbarfixed{
  position: fixed;
}
.rough{
  background: green;
  border-radius: 50px;
}
.space_h{
  padding-left: 10px;
  padding-right: 10px;
}
.space_v{
  padding-top: 50px;
  padding-bottom: 50px;
}
.home_page{
  width: 100%;
  height: 100vh;
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: #121212; */
  /* background-image: url("/img/bg5.jpg");
  background-repeat: no-repeat;
  background-size: auto; */
}
.wholepage{
  width: 100%;
  /* background: #16222A;
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to right, #3A6073, #16222A); */
  background: linear-gradient(to bottom right, rgb(6, 27, 45), rgb(22, 74, 92));
  background: -webkit-linear-gradient(to bottom right, rgb(22, 74, 92), rgb(22, 74, 92));

}
.page{
  padding-top: 15%;
  padding-bottom: 20%;
}

.my_info{
  padding-top: 18%;
  padding-left: 4%;
  color: rgb(31, 31, 31);
  color: rgb(224, 224, 224);
}

.align_center{
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.para{
  font-size: 20px;
}
.box{
  background: #121212;
  border-radius: 5px;
}
.main :hover{
  background: #121212;
  border-radius: 5px;
}
.tech-icon{
  height: auto;
  padding-top: 4px;
  padding-right: 4px;
  width: 36px;
}
.icon-box{
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}
.icon-box h3{
  font-size: 24px;
  color: rgb(2, 30, 41);
}
.main_page{
  height: 100vh;
}
.skills_class{
  background: rgb(205, 217, 236);
  border-radius: 10px;
}
.w80{
  width: 80%;
}
.color_white{
  color: white;
}
.color_black{
  color: rgb(20, 20, 20);
}
.ptop{
  padding-top: 4%;
}
.pbot{
  padding-bottom: 4%;
}

.colcenter{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.colcentericon{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.color_black{
  color: rgb(15, 15, 15);
}

.contact_class{
  margin-left: 20%;
  margin-right: 20%;
}

.education{
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background: #121212; */
  padding-bottom: 20px;
  padding-top: 40px;
}
.sub_education{
  align-items: center;
  justify-content: center;
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.sub_education h1{
  text-align: center;
  color: white;
  font-size: 40px;
}
.edu_details{
    padding-top: 20px;
}
.edu_list{
  list-style: none;
  /* background: rgb(227, 236, 241); */
  color: black;
  padding: 20px;
  /* border-radius: 10px; */
}
.edu_list li{
  font-size: 20px;
  color: white;
}
.course_edu{
  color: rgb(115, 205, 255);
}
.duration_edu{
  color: rgb(115, 205, 255);
}
.intern{
  height: auto;
  background: rgb(205, 217, 236);
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.sub_intern{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  align-items: center;
  justify-content: center;
}
.intern_name{
  padding: 10px;
}
.intern_list{
  /* background: #12232e; */
  list-style: none;
  padding: 20px;
  /* border-radius: 20px; */
}
.intern_list li{
  color: black;
}
.sub_intern h1{
  text-align: center;
  color: black;
  font-size: 40px;
  padding-bottom: 20px;
}

.experience{
  height:auto;
  /* background: #121212; */
  padding-bottom: 20px;
  padding-top: 20px;
}
.sub_exp{
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  align-items: center;
  justify-content: center;
}
.exp_name{
  padding: 10px;
}
.exp_list{
  //background: white;
  list-style: none;
  padding: 20px;
  //border-radius: 20px;
}
.exp_list li{
  color: white;
}
.sub_exp h1{
  text-align: center;
  color: white;
  font-size: 40px;
  padding-bottom: 20px;
}
.all_projects{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(205, 217, 236);
  border-radius: 10px;

}

.all_projects_sub{
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  align-items: center;
  justify-content: center;
}

.all_projects_sub h1{
  text-align: center;
  color: black;
  font-size: 40px;
  padding-bottom: 20px;
}

.project{
  width: 100%;
  height: auto;               // project inside background
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #16222A;
  background: -webkit-linear-gradient(to bottom right, rgb(22, 74, 92), rgb(22, 74, 92));
  background: linear-gradient(to bottom right, rgb(22, 74, 92), rgb(22, 74, 92));
  box-shadow: 2px 2px 6px rgb(4, 26, 42);
}

.pro_image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pro_image img{
  height: auto;
  width: 100%;
  border-radius: 20px;

}

.pro_content{
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  padding-right: 10px;
  font-size: 16px;
  color: white;
  margin-top: 20px;

  float: left;
}
#contact{
  text-align: center;
  font-size: 40px;
}
.contact{
}
.icon_color{
  color: white;
}
.icon_color :hover{
  color: rgb(48, 123, 177)
}
.blue_container{
  width: 100%;
  padding: 100px;
  margin-top:
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}


.contact_icons{
  padding-top: 20px;
  padding-bottom: 20px;
}
.the_end{
  width: 100%;
  height: 25px;
  background: #ffffff;

}


.card-horizontal img{
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 25vw;
  border-radius: 10px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
.project
{
  display: flex;
  /* flex-direction: row; */
}
.new_class{
  width: 50%;
  float: left;
}
}

.navbaricon{
  color: rgb(12, 22, 33);
}
.navbaricon :hover{
  color: rgb(33, 87, 126);
}
.navbarfont{
  color: rgb(12, 22, 33);

}

.pdf_align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pdf_color{
  width: 100%;
  background: -webkit-linear-gradient(to bottom right, rgb(4, 33, 43), rgb(22, 74, 92));
  background: linear-gradient(to bottom right, rgb(4, 33, 43), rgb(22, 74, 92));
}
